.deposit {
  background-color: #0d143d;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.deposit {
  @media (max-width: 767px) {
    .top-view {
      padding-top: 1rem;
    }
  }

  @media (min-width: 768px) {
    /* Target devices wider than 768px. */
    .top-view {
      padding-top: 5rem;
    }
  }

  .top-img {
    z-index: -1;
    top: 0;
    height: 300px;
  }

  .used-bt {
    background-color: #2376d620;
  }

  .pools {
    flex: 1;
  }

  .pools {
    .deposit-cell {
      background: #202539;
      margin: 0.5rem;
      border-radius: 2rem;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #61aafe;
      box-shadow: 0px 0px 10px 1px #61aafe;
    }

    .cell-row {
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
    }
  }

  .deposit-cell-header {
    border-bottom: 1px solid gray;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .white-circle {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border-radius: 1.5rem;
  }

  .deposit-cell-header-text {
    font-weight: 400;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    white-space: nowrap;
  }

  .earn-container {
    border: 1px solid #2376d6;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .smaller {
    font-size: 60%;
  }
}

.amount-popup {
  .modal-content {
    border-radius: 2rem;
    background-color: #add8e6;
  }

  .max-btn {
    position: absolute;
    right: 3.5rem;
    top: 3.5rem;
  }
}
