.home-wrap {
  color: #ffffff;
  text-align: center;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: calc(100% - 66px);
  padding-top: 90px;
  -webkit-transform: translate3d(0,0,0);


  .main-title {
    font-size: 48px;
    max-width: 860px;
    font-weight: 800;
    font-family: Inter;
    margin: auto;
  }
  .market-wrap {
    margin-top: 128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item {
      margin: 8px 8px;
      .tile {
        display: flex;
        border: 3px solid #eeeeee25;
        border-radius: 60px;
        background-color: #202539;
        white-space: nowrap;
        width: 240px;
        height: 180px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-wrap {
    width: 100%;
    padding: 0 20px;
    padding-top: 70px;
    padding-bottom: 50px;
    .main-title {
      font-size: 24px;
    }
    .market-wrap {
      margin-top: 100px;
    }
  }
}
